<!DOCTYPE html>
<html>
  <head>
    <title>python-dwolla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">python-dwolla</a>
        </div>
      </div>
    </div>



    <div class="container">
      <div class="row">
        <div class="span12">
          <h1 class="pull-right">Balance: <span style="color:#3c3">{{balance}} </span></h1>
        </div>
      </div>
      <div class="row">



        <div class="span4">
          <h3>Contacts:</h3>
          <table class="table table-striped">
            {% for c in contacts %}
            <tr>
              <td><img src="{{c.Image}}" height="50" width="50"></td>
              <td>
                <h4>{{c.Name}}</h4>
                <p>{{c.Id}}</p>
                <a href="#" class="btn btn-primary disabled">Send Money</a>
                <a href="#" class="btn disabled">Request Money</a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>


        <div class="span8">
          <h3>Account Details:</h3>
          <table class="table table-striped">
            {% for prop, val in account.iteritems() %}
            <tr>
              <th><h6>{{prop}}</h6></th>
              <td><strong>{{val}}</strong></td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
      <div class="row">

        <div class="span12">
        <h3>Account Transactions</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>To/From</th>
              <th>Type</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          {% for t in transactions %}
          <tr>
            <td>{{t.Date}}</td>
            <td>{{t.SourceName}}{{t.DestinationName}}</td>
            <td>{{t.Type}}</td>
            <td>{{t.Status}}</td>
            <td>{{t.Amount}}</td>
          </tr>
          {% endfor %}
        </table>

      </div>
      </div>
    </div> <!-- /container -->



    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

