<!DOCTYPE html>
<html>
  <head>
    <title>python-dwolla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">python-dwolla</a>
        </div>
      </div>
    </div>



    <div class="container">

      <div class="row">
        <h1>python-dwolla</h1>
        <p>
          <a href="{{login_url}}" class="btn btn-primary btn-large">Login with Dwolla</a>
        </p>
      </div>
    </div> <!-- /container -->



    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

